@font-face {
	font-family: JetBrains;
	src: url('JetBrainsMono-VariableFont_wght.ttf');
}
html, body{
    background-color: black;
	font-family: JetBrains;
}
strong{
	font-size: 42pt;
	color: #149414;
}
h1{
	font-size: 36pt
}
body {
  justify-content: center;
  color: #fff;
}
.container{
	margin-top: 2.5em;
	text-align: right;
}
.Label {
  margin-bottom: 0;
  float: left;
}
.nav-label .nav-link {
  padding: 0.5rem;
  font-weight: 700;
  color: #8D918D;
}
.nav-label {
float: right;
}