@font-face {
	font-family: JetBrains;
	src: url('JetBrainsMono-VariableFont_wght.ttf');
}
html, body{
    background-color: black;
	font-family: JetBrains;
}
strong{
	font-size: 42pt;
	color: #149414;
}
h1{
	font-size: 36pt
}
body {
  justify-content: center;
  color: #fff;
  margin: 0;
  padding: 0;
}
input{
	text-align: center;
}
.container{
	margin-top: 2.5em;
	text-align: center;
}
.Label {
  margin-bottom: 0;
  float: left;
}
.nav-label .nav-link {
  padding: 0.5rem;
  font-weight: 700;
  color: #8D918D;
}
.nav-label {
	float: right;
}
.button{
	max-width: 15%;
	margin: auto;
	padding: 0;
}
.creature {
  max-width: 100%;
  height: auto;
}
#weather-row{
	font-size: 42pt;
	color: #149414;
}